body {
  margin: 0;
  background-color: #201a40;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main {
  text-align: center;
}

h1 {
  color: white;
  font-size: 34px;
  margin: 0 auto;
  display: block;
  font-family: 'Arial Black';
  font-weight: bold;
  margin-bottom: 20px;
}

.circle {
  width: 350px;
  height: 350px;
  position: relative;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  border: 2px solid violet;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: transparent;
}

.svg-image {
  width: 50%;
}

.welcome {
  z-index: 10px;
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  /*padding: 50px 0; /* Добавьте отступы по вашему усмотрению */
  background-color: #201a40; /* Цвет фона */
}
.button {
  font-weight: bold;
  padding: 14px 111px;
  font-size: 24px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #8744f6;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover,
.activate-button:hover {
  background-color: #7135f8;
}

.activate-button {
  font-weight: bold;
  padding: 5px 11px;
  font-size: 24px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #8744f6;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.waitlabel{
  color: white;
  font-size: 24px;
  margin: 40px 5 50; /* Измените отступы по вашему усмотрению */
  font-family: 'Arial Black';
  font-weight: bold;
  transition: color 0.8s, font-size 0.8s;
}
.tglbl{
  color: #7135f8;
  font-size: 35px;
  margin: 40px 5 50; /* Измените отступы по вашему усмотрению */
  font-family: 'Arial Black';
  font-weight: bold;
  transition: color 0.8s, font-size 0.8s;
}

.button:active,
.activate-button:active {
  background-color: #05caed;
  transform: translateY(4px);
}

.tmebtn {
  margin: 50px 50px;
  font-family: Arial;
}

.svg-image2 {
  width: 40%; /* Уменьшите размер jet.webp */
  animation: float 3s ease-in-out infinite;
}

.pulse, .tglbl {
  animation: pulse-animation 3s infinite;
}
#namesvg {
  width: 250px; /* Задайте нужную вам ширину */
  height: auto; /* Сохраните пропорции изображения */
  padding-bottom: 20px;
}
@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}



@media (max-width: 768px) {
  .circle {
    width: 60vw;
    height: 60vw;
  }
  .button,
  .activate-button {
    padding: 10px 80px;
    font-size: 1.25rem;
  }
  #namesvg{
    width: 210px;
    height: auto;
  }
  .activate-button {
    margin-right: -15px;
    margin-top: -30px;
    padding: 8px 20px;
    font-size: 1rem;
  }
  .waitlabel {
    font-size: 1.25rem;
  }
  
  .tglbl {
    font-size: 25px; /* Уменьшите размер текста */
    animation: pulse-animation-small 3s infinite; /* Уменьшите анимацию */
    
  }
  
  h1 {
    font-size: 19px;
  }
  
  .activate-button {
    left: -50%;
    width: auto;
    margin: auto;
  }
  .tmebtn {
    width: 222px;
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .circle {
    width: 70vw;
    height: 70vw;
  }
  .button,
  .activate-button {
    padding: 8px 60px;
    font-size: 1rem;
  }
  .activate-button {
    margin-right: -10px;
    margin-top: -20px;
    padding: 6px 18px;
    font-size: 0.875rem;
  }
  .waitlabel {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .inputt {
    width: auto;
    margin-bottom: 10px;
  }
  .activate-button {
    left: -50%;
    width: auto;
    margin: auto;
  }
  .tmebtn {
    align-items: center;
  }
}



.pulse {
  animation: pulse-animation 3s infinite;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}

.main {
  max-width: 1495px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}


